/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

.DS_Store
/vagrant/.vagrant
/vagrant/puphpet/files/dot/ssh/id_rsa
/vagrant/puphpet/files/dot/ssh/id_rsa.ppk
/vagrant/puphpet/files/dot/ssh/id_rsa.pub
/vagrant/puphpet/files/dot/ssh/root_id_rsa
/vagrant/puphpet/files/dot/ssh/root_id_rsa.ppk
/vagrant/puphpet/files/dot/ssh/root_id_rsa.pub
/vagrant/puphpet/files/dot/.gitconfig
